extends ../partials/_layout

block content
  section#about
    .container
      div(style='text-align: center;')
          h2.title About us
          span.border
          p.description
            |中福酒廠是宜蘭縣第一家取得財政部國庫署製酒許可執照的廠商，在高規格、獨到的釀酒技術加持下，運用宜蘭之好山、好水、好環境釀出優良酒品，產出的美酒，可是讓愛酒人士趨之若鶩。
            br
            |中福酒廠堅持採用台灣本土食材，以衛生、安全、品質為訴求，運用最新科技術與採用傳統蘊釀作法，生產製造口感獨特、美味之產品，為此滿足挑嘴的顧客。
            br
            |◎ 主要產品：紅酒、咖啡酒、紅肉李酒、金棗酒、清酒、米酒。
            
          div(style='display: flex; justify-content: center;')
            img.group(src='./images/IMG_0125.jpg')

block js
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[1].classList.add('active');
    }, 0);

