#footer {
  .copyright {
    font-size: 0.8em;
    list-style: none;
    padding: 0;
    color: $jsdc2019-white;
    display: flex;
    justify-content: center;
    width:100%;

    a {
      color: $jsdc-y - #222;
      margin-left: 5px;
      &:hover {
        color: $jsdc-y;
        text-decoration: none;
      }
    }
  }
}
