/* Header */
#header {
  position: relative;
  height: 100%;
  padding: 150px 0;
  background: $jsdc2019-background;
  margin-bottom:200px;
  .container {
    .title {
      .logo-hidden {
        height: 100%;
        width: 100%;
        max-width: 1440px;

        display: block;
        opacity: 0;
      }
      .logo-animation {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 1440px;
        animation: logo-animation 2s linear;
      }
      .logo-animation-line {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 1440px;
        opacity: 0;
        animation: logo-animation-line 2s linear;
      }
      .logo {
        display: flex;
        justify-content: center;
        &:hover {
          opacity: 1;
        }
      }
      .jsdc-full-name {
        width: 100%;
        text-align: center;
        button {
          border: 1px solid $jsdc2019-white;
          color: $jsdc2019-white;
          width: 50%;
          margin-top: 50px;
          padding:0;
          border-radius: 5px;
          overflow:hidden;
          &:hover {
            // background: $jsdc2019-white;
            color: black;
            border: none;
          }
          a{
            display:block;
            width:100%;
            color: $jsdc2019-white;
            text-decoration: none;
            &:hover {
              background: $jsdc2019-white;
              color: black;
              border: none;
            }
          }
        }
        span:first-child {
          display: block;
          font-size: 25px;
          line-height: 25px;
          color: $jsdc2019-white;
          font-weight: bold;

          margin-bottom: 35px;
        }
        span {
          font-size: 16px;
          line-height: 30px;

          color: $jsdc2019-white;
          display: block;
        }
        .sub-title {
          color: #ffc825;

        }
        .division {
        
          span{
            height: 1px;
            margin:15px;
          }
        }
      }
    }
  }
}
@keyframes logo-animation-line {
  0% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}
@keyframes logo-animation {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#count-down {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;

  .content {
    text-transform: uppercase;
  }
  .time-content {
    margin-top: -50px;

    .date,
    .hours,
    .minutes,
    .seconds {
      width: 150px;
      height: 150px;
      line-height: 150px;
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
      .num {
        width: 50%;
        float: left;
      }
    }
    .flag {
      position: relative;
      left: -30px;
      top: -7px;
    }
  }
  .conference-and-count-down-info {
    font-size: 1.5rem;
    margin-top: 30px;
  }
}
