* {
  box-sizing: border-box;
}

.navbar-mobile {
  position: fixed;
  right: 2px;
  bottom: 10px;
  display: none;

  .back-top {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $jsdc2019-white;
  }
  .back-top {
    background-color: #bbb;
  }
}

.level {
  color: $jsdc2019-white;
  font-size: 36px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $jsdc2019-white;
  margin: 0.2rem 0 0.5em 0;
}
.border {
  display: block;
  width: 80px;
  height: 1px;
  background: #ececec;
  margin: 0 auto;
}

.large-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 10% 70px 10%;
}

.wrapper {
  width: 25%;
  padding: 25px 15px 0 15px;
}

.wrapper-special {
    width: 15%
}

.main-box {
  position: relative;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
}

.main-box .img-box img {
  transition: all 0.3s ease-out 0s;
  width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-box {
  background-color: $jsdc2019-white;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.inner_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.wrapper:hover .main-box .img-box .overlay {
  opacity: 1;
}

.wrapper .main-box .img-box .overlay .intro-text {
  position: absolute;
  color: #a0a0a0;
  font-size: 16px;
  top: 400px;
  padding: 5%;
  opacity: 1;
  transition: all 0.3s ease-out 0s;
}

.wrapper:hover .main-box .img-box .overlay .intro-text {
  top: 60px;
}

/* link section */

.visit {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.visit span {
  width: 60%;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px;
  border: 1px solid #a0a0a0;
  transition: all 0.3s ease-out 0s;
  align-self: center;
  color: #a0a0a0;
  font-style: normal;
  text-align: center;
}

/* icon section */

ul {
  list-style-type: none;
  /* margin-top: 0; */
  /* margin-bottom: 1rem; */
  padding: 0;
}
i {
  color: #ffc525;
}
.sc-icons {
  // position: absolute;
  /* left: 10%; */
  // bottom: -100px;
  margin: 0;
  display: flex;
  transition: all 0.3s ease-out 0s;
  justify-content: center;
}

.wrapper:hover .sc-icons {
  bottom: 20px;
}

.main-box .img-box .overlay .sc-icons li {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.main-box .img-box .overlay .sc-icons li a {
  font-size: 15px;
  color: $jsdc2019-white;
  line-height: 0px;
  margin: 0px;
  padding: 7px;
  display: inline-block;
  border-radius: 100%;
}

/* speaker's name and title field */

.text-box {
  width: 100%;
  padding: 30px 0 20px 0;
  background-color: #eaeaea;
  min-height: 130px;
}

.text-box .title {
  color: #000;
}

.text-information {
  height: 100px;
  padding: 0 20px;
  background-color: #eaeaea;
  overflow-y: auto;
}

h5 {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  font-style: normal;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.text-center {
  text-align: center !important;
}

p {
  margin: 0 0 10px;
}
.invite {
  color: black;
}
.info-desc {
  display: block;
  font-size: 1.5rem;
  padding: 12px;
}
@media (max-width: 1480px) and (min-width: 1024px) {
  .box {
    margin: 20px 5%;
  }

  .wrapper {
    width: 33.3%;
  }

  .wrapper-special {
    width: 20%
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .box {
    margin: 20px 5%;
  }

  .wrapper {
    width: 50%;
  }

  .wrapper-special {
    width: 20%
  }
}

@media (max-width: 767px) {
  .box {
    margin: 20px 5%;
  }

  .wrapper:hover .main-box .img-box .overlay .intro-text {
    font-size: 12px;
    top: 50px;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper-special {
    width: 100%
  }

  .border {
    height: 0px;
  }
  .navbar-mobile {
    display: block;
    z-index: 9;
  }
}

// #speaker {

//     .grid-item
//     {
//         .is-keynote {
//             position: absolute;
//         }
//         .img-circle {
//             width: 220px;
//             height: 220px;
//             margin-top: 10px;
//             border: 1px solid #CCC;
//         }
//         .author-name {
//             margin: 0;
//             border-bottom: 1px dashed #ccc;
//             padding-bottom: 6px;
//         }
//     }
// }

// $screen-md: 800px;
// @media (max-width: $screen-md) {

//     #speaker .grid-item {
//         top: 0 !important;
//         left: 0 !important;
//         position: relative !important;
//     }
// }
