extends ./partials/_layout

block content
  //- Header
  section#header
    .container
      .title.row
        .logo.col-md-12
          .logo-hidden.col-md-12
            img(src="images/IMG_0126.jpg", alt="")
          .logo-animation-line.col-md-12
            img(src="images/IMG_0126.jpg", alt="")
          .logo-animation.col-md-12
            img(src="images/IMG_0126.jpg", alt="")
        .yudo-full-name.col-md-12
          span 
          span.sub-title 中福酒廠
          span.sub-title 宜蘭縣第一家取得財政部國庫署製酒許可執照的廠商
          span.sub-title 網頁更新中，敬請稍候
          
block js
  script(src='./js/index.min.js')
  script.
    setTimeoutss(function(){
      document.querySelectorAll('#navbar ul li')[0].classList.add('active');
    }, 0);



