extends ./partials/_layout

block content
  //- Header
  section#header
    .container
      .title.row
        .logo.col-sm-12
          .logo-hidden.col-sm-12
            img(src="", alt="")
          .logo-animation-line.col-sm-12
            img(src="", alt="")
          .logo-animation.col-sm-12
            img(src="", alt="")
        .yudo-full-name.col-lg-12
          span 
          span.sub-title 中福酒廠
          span.sub-title 宜蘭縣第一家取得財政部國庫署製酒許可執照的廠商
          span.sub-title 網頁更新中，敬請稍候
  section#about
    .container
      div(style='text-align: center;')
          div(style='display: flex; justify-content: center;')
            img.group(src='./images/IMG_0126.jpg')

          
block js
  script(src='./js/index.min.js')
  script.
    setTimeoutss(function(){
      document.querySelectorAll('#navbar ul li')[0].classList.add('active');
    }, 0);



