$jsdc2019-white: #e4e4e4;
// @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700";
/* Timeline */
// body {
//   background: #e3e3e3;
//   font-size: 16px;
// }
// strong {
//   font-weight: 600;
// }
// h1 {
//   font-family: 'Oswald', sans-serif;
//   letter-spacing: 1.5px;
//   color: #333333;
//   font-weight: 100;
//   font-size: 2.4em;
// }
// #content {
//   margin-top: 50px;
//   text-align: center;
// }
body .jsdc-background {
  background-color: #f2f2f2;
}
#agenda {
  .agenda-topic {
    padding: 18px 0 2px 0;
    text-decoration: underline #f2f2f27c;
  }
  .date {
    text-align: center;
    & > label {
      font-size: 24px;
      padding: 10px 35px;
      color: $jsdc2019-white;
      font-weight: bold;
      width: 50%;
      background-color: #eaeaea;
      border-radius: 5px 0 0 5px;
      color: black;
      &:hover {
        background-color: rgb(255, 221, 96);
      }

      &:last-of-type {
        background-color: #eaeaea;
        border-radius: 0 5px 5px 0;
        color: black;

        &:hover {
          background-color: rgb(255, 221, 96);
        }
      }

      &:before {
        display: none;
      }
    }

    input[value='day-1']:checked {
      & + label {
        background-color: #ffc800;
      }
      & ~ .day-1 {
        display: block;
      }
      & ~ .day-2 {
        display: none;
      }
    }
    input[value='day-2']:checked {
      & + label {
        background-color: #ffc800;
      }
      & ~ .day-2 {
        display: block;
      }
      & ~ .day-1 {
        display: none;
      }
    }
  }
  .rooms {
    text-align: center;

    > .col-md-6 {
      padding-left: 40px;

      &:last-of-type {
        padding-left: 0;
      }
    }
    .room-title {
      // color: $jsdc2019-white;
      h2 {
        margin: 1em 0;
        color: #ffc800;
      }
    }
  }
  .note {
    color: $jsdc2019-white;
    border-radius: 5px;
    background-color: #0099b4;
    display: block;
    padding: 12px;
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    width:80%;
  }

  .note-outer {
    display: flex;
    text-align: center;
    justify-content:center;
  }
  .room {
    display: none;
    min-width: 150px;
    text-align: center;
    border-radius: 5px;
    color: $jsdc2019-white;
    width: 50%;
    margin: 25px 0;

    &.room-101 {
      background-color: #0099b4;
      color: $jsdc2019-white;
    }
    &.room-102 {
      background-color: #0099b4;
      color: $jsdc2019-white;
    }

    &:before {
      content: attr(data-room);
    }
  }
  .navbar-mobile {
    position: fixed;
    right: 2px;
    bottom: 10px;
    display: none;

    .back-top {
      text-decoration: none;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: $jsdc2019-white;
    }
    .back-top {
      background-color: #bbb;
    }
  }
  .label {
    margin-right: 5px;
  }
  .tag-groups {
    margin: 10px 0;
  }
  .event-lang {
    // padding: 0 12px;
    // border: 1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    color: black;
    height: 25px;
    background-color: #ffc800;
  }
  .event-level {
    font-size: 16px;
    padding: 0 10px;

    &.none,
    &.beginner,
    &.intermediate,
    &.advanced {
      border-radius: 5px;
    }
    &.none {
      background-color: #dddddd;
    }
    &.beginner {
      background-color: #dff0d8;
    }
    &.intermediate {
      background-color: #fcf8e3;
    }
    &.advanced {
      background-color: #f2dede;
    }

    &:before {
      content: attr(data-level);
      font-weight: 200;
    }
  }
  .timeline {
    // border-left: 4px solid #28135b;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: $jsdc2019-white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    list-style: none;
    text-align: left;
    font-weight: 1;
    max-width: 100%;

    h1 {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 1.4em;
    }
    h2 {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 1.4em;
    }
    h3 {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 1.4em;
    }
    p {
      word-wrap: break-word;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
    .time {
      width: 20%;
      padding: 0 1%;
    }
    .event {
      border-bottom: 1px solid #fff;
      padding: 25px 0;
      // margin-bottom: 50px;
      position: relative;
      display: flex;
      align-items: center;
      &:last-of-type {
        // padding-bottom: 0;
        // margin-bottom: 0;
        border: none;
      }
      &:before {
        // position: absolute;
        // display: block;
        // top: 0;
        // left: -217.5px;
        // color: #717171;
        // content: attr(data-date);
        // text-align: right;
        // font-weight: 400;
        // font-size: 0.9em;
        // min-width: 120px;
      }
      &:after {
        // position: absolute;
        // display: block;
        // top: 0;
        // box-shadow: 0 0 0 4px #28135b;
        // left: -57.85px;
        // background: #eb6f8f;
        // border-radius: 50%;
        // height: 11px;
        // width: 11px;
        // content: '';
        // top: 5px;
      }
    }
  }
  .info-desc {
    display: block;
    font-size: 1.5rem;
    color: $jsdc2019-white;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #agenda {
    .note-outer {
      // padding-left: 0;
      // padding-right: 0;
    }
    .note{
      width:100%;
    }
    .date {
      padding: 0;

      & > label {
        font-size: 20px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 0;

        &:last-of-type {
          border-radius: 0;
        }
      }

      .day-1,
      .day-2 {
        h2 {
          margin-top: 20px;
          margin-bottom: -30px;
        }
      }
    }
    .rooms {
      display: none;
      .room-title {
        display: none;
      }
    }
    .room {
      display: block;
      top: -20px;
      left: -10px;
    }
    .navbar-mobile {
      display: block;
      z-index: 9;
    }
    // .time{
    //   display:none;
    // }
    .timeline {
      margin: 50px auto;

      h3 {
        // min-width: 95px;
        // margin-left: -25px;
        // margin-top: 25px;
        // border-bottom: none;
      }
      p {
        margin-left: -25px;
      }
      .event {
        // &:before {
        //   left: -31.5px;
        //   top: -11px;
        //   background-color: #2c9ab8;
        //   color: white;
        //   margin-top: 8px;
        //   padding: 2px 8px 2px 8px;
        //   content: attr(data-date);
        //   text-align: right;
        //   font-weight: 400;
        //   font-size: 0.9em;
        //   min-width: 130px;
        //   border-radius: 0 5px 5px 0;
        // }
        .col-md-6 {
          &:first-of-type {
            // border-bottom: 1px solid rgba(44, 154, 184, 0.3);
            // margin-top: 65px;
          }
          h3 {
            // margin-top: 45px;
            // margin-bottom: 0;
          }
        }
        p {
          top: 27px;
          padding: 10px 0px 10px 0px;
          position: relative;
          width: 10rem;
        }
      }
      .tag-groups {
        // position: absolute;
        // top: -20px;
        // left: 50px;
        // margin:10px;
        .event-level {
          min-width: 50px;
          text-align: center;
          margin-right: 2px;
        }
      }
      .time {
        padding-left: 15px;
      }
    }
  }
}
