- var title = '中福酒廠';
- var description = '宜蘭縣第一家取得財政部國庫署製酒許可執照的廠商';
- var coverImage = './images/fb-og.jpg';

title #{title}

// html
meta(http-equiv='Content-type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
