nav#navbar.navbar
  .container.text-center
    .navbar-header
      .navbar-brand
        a(href='/')
          img(src='./images/official/jsdclogo2019.svg')
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-mobile', aria-expanded='false' aria-controls='#navbar-mobile')
        span.icon-bar
        span.icon-bar
        span.icon-bar

    .collapse.navbar-collapse#navbar-mobile(aria-expanded='false' )
      ul.nav.navbar-nav
        li
          a(href="/") 首頁
        li
          a(href="/new.html") 訊息公告
        li
          a(href="/about.html") 關於我們
        li
          a(href="/contact.html") 聯絡方式
        li
          a(href="/venue.html") 服務地點
        li
          a(href="/speaker.html") 產品
        li
          a(href="https://www.facebook.com/yudosake/") Facebook



        li
          script(src='./js/time.js')


//sharer.php?u=http%3A%2F%2F2019.jsdc.tw%2F&src=sdkpreparse')
//        li#google_translate_element
//          include _google-translate

        
